.content{
    margin-top: 50px;
}
.content .container {
    padding-top: 20px;
}

.btn {
    margin-left: 5px;
}
span.stars, span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.message {
    padding: 5px;
    margin-bottom: 10px;
}
tr td {
    padding-top: 10px;
}